__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env

.ipynb_checkpoints

.vscode/
.idea/

.DS_Store
Thumbs.db

data/raw/*
data/processed/*
data/predictions/*

!data/raw/.gitkeep
!data/processed/.gitkeep

*.pkl
*.model